# Amazon Web Scraping

In [3]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib

In [5]:
# connect to website

URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

# https://httpbin.org/get
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9",
    "Accept-Encoding": "gzip, deflate, br",
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")
soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()

print(title)

                    Funny Got Data MIS Data Systems Business Analyst T-Shirt

In [7]:
title = title.strip()

print(title)

Funny Got Data MIS Data Systems Business Analyst T-Shirt

In [12]:
import datetime

today = datetime.date.today()
print(today)

2024-07-09

In [13]:
import csv

header = ['Title', 'Date']
data = [title, today]

type(data)

with open('AmazonWebScraperDataset.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [30]:
import pandas as pd

df1 = pd.read_csv(r'C:\Users\priya\AmazonWebScraperDataset1.csv')
df1

                                               Title        Date
0  Funny Got Data MIS Data Systems Business Analy...  2024-07-09
1  Funny Got Data MIS Data Systems Business Analy...  2024-07-09
2  Funny Got Data MIS Data Systems Business Analy...  2024-07-09
3  Funny Got Data MIS Data Systems Business Analy...  2024-07-09
4  Funny Got Data MIS Data Systems Business Analy...  2024-07-09

In [29]:
# append data to csv

with open('AmazonWebScraperDataset1.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [31]:
def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36",
        "Accept-Language": "en-US,en;q=0.9",
        "Accept-Encoding": "gzip, deflate, br",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
    }

    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")
    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id='productTitle').get_text()
    title = title.strip()

    import datetime
    today = datetime.date.today()

    import csv
    header = ['Title', 'Date']
    data = [title, today]

    with open('AmazonWebScraperDataset1.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [32]:
while(True):
    check_price()
    time.sleep(5)

KeyboardInterrupt:

In [33]:
import pandas as pd

df1 = pd.read_csv(r'C:\Users\priya\AmazonWebScraperDataset1.csv')
df1

                                               Title        Date
0  Funny Got Data MIS Data Systems Business Analy...  2024-07-09
1  Funny Got Data MIS Data Systems Business Analy...  2024-07-09
2  Funny Got Data MIS Data Systems Business Analy...  2024-07-09
3  Funny Got Data MIS Data Systems Business Analy...  2024-07-09
4  Funny Got Data MIS Data Systems Business Analy...  2024-07-09
5  Funny Got Data MIS Data Systems Business Analy...  2024-07-09
6  Funny Got Data MIS Data Systems Business Analy...  2024-07-09
7  Funny Got Data MIS Data Systems Business Analy...  2024-07-09

In [ ]:
while(True):
    check_price()
    time.sleep(86400)

In [ ]:
# send yourself an email when a price hits below a certain number

def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('priyav1101@gmail.com','xxxxxxxxxxxxxx')
    
    subject = "The Shirt is below $15!"
    body = "Pri, now is your chance to buy this shirt! Link here: https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3"
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'priyav1101@gmail.com',
        msg
     
    )